*{
    box-sizing: border-box;
}
ul{
    padding: 0;
}
body{
    background-color: #ced3df;
    text-align: center;
}
button{
outline: none;
background: transparent;
border: none;
cursor: pointer;
}

.list{
    width: 400px;
    margin: auto;
    background-color: #feffff;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(58,58,58,0.9); 
    box-shadow: 5px 5px 15px 0px rgba(58,58,58,0.9);
}

section .header{
    height: 48px;
    padding: 8px;
    font-size: 24px;
    background: rgb(221,157,255);
    background: linear-gradient(90deg, rgba(221,157,255,1) 21%, rgba(230,179,244,1) 62%, rgba(255,193,240,1) 100%);
    color: white;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
    
}

.items{
    height: 500px;
    overflow-y: auto; /* item이 많아지면 자동으로 스크롤바가 생김 */
    background-color: #ececec;
    margin: 0px;
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}
.item__divider{
    width: 90%;
    height: 2px;
    background-color: lightgray;
    margin: auto;
}
.items .item__row{
    list-style: none;
    
}
.item__delate{
    font-size: 16px;
transition: all 300ms ease-in;
}
.item__delate:hover{
    color: red;
    transform: scale(1.1);
}
footer{
    background: rgb(255,155,246);
    background: linear-gradient(90deg, rgba(255,155,246,1) 8%, rgba(255,144,235,1) 54%, rgba(251,188,236,1) 100%);
    border-radius: 0 0 20px 20px;
}
.footer__input{
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 16px;
}
.footer__btn{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-size: 28px;
    transition: transform 300ms ease-in;
    }
.footer__btn:hover{
    transform: scale(1.1);
}
